appnope
backcall
bcrypt
blinker
cffi
Click
decorator
Faker
Flask
Flask-Bcrypt
Flask-SQLAlchemy
Flask-WTF
gunicorn
importlib-metadata
ipython
ipython-genutils
itsdangerous
jedi
Jinja2
MarkupSafe
packaging
parso
pexpect
pickleshare
prompt-toolkit
psycopg2-binary
ptyprocess
pycparser
Pygments
python-dateutil
simplegeneric
six
SQLAlchemy
text-unidecode
traitlets
typing_extensions
wcwidth
Werkzeug
WTForms
zipp